# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db

# VS Code
.vscode/

# =========================
# Logs / temp
# =========================
*.log

# =========================
# PyTorch
# =========================
*.pt
*.pth
*.ckpt


# =========================
# Experiment outputs
# =========================
outputs/logs/

# =========================
# Optional: cache
# =========================
.cache/
